.section-heading {
    font-size: 3rem;
    color: $dark-font;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.margin-bottom {
    margin-bottom: 5rem;
}

// MEDIA QUERY MANAGER

/*
0 - 600PX:  Phone
600 - 900px: Tablet portriat
900 - 1200px: Tablet landscape
[1200 - 1800] is whter the normal style apply
1800px or bigger: big desktop


1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media screen and (max-width: 37.5em) {@content;} //600px / 16px = 37.5em
    }
    @else if $breakpoint == tab-port {
        @media screen and (max-width: 56.25em) {@content;} //900px / 16px = 56.25em
    }
    @else if $breakpoint == tab-land {
        @media screen and (max-width: 75rem) {@content;} //1200px / 16 = 75em
    }
    @else if $breakpoint == big-desktop{
        @media screen and (min-width: 112.5em) {@content;} // 1800px / 16 = 112.5em
    }
}
