.about {
    grid-column: col-start 1 / col-end;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column-gap: 10rem;
    
    
    
    &__img-box {
        max-width: 50rem;
        justify-self: center;
        
    }


    &__description {
        color: $light-font;
        font-size: 1.6rem;
    }

    &__text-box {

    }
}



.svg {
    width: 100%;
    height: 100%;
}