.about {
    grid-column: col-start 2 / col-start 8;
    display: flex;
    align-items: center;
    
    &__img-box {
        height: 20rem;
        width: 20rem;
        background-color: red;
        
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
    }

    &__img {
        width: 100%;
        height: 100%;
        border-radius: 70%;
    }

    &__description {
        color: $light-font;
        font-size: 1.6rem;
    }

    &__text-box {
        width: 75%;
    }

    // &__container {
    //     max-width: 70rem;
    //     margin: 0 auto;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     background-color: red;
    // }
    
    // &__img-box{
    //     width: 20rem;
    //     height: 20rem;
    //     clip-path: circle(50% at 50% 50%);
    //     shape-outside: circle(50% at 50% 50%);

    // }   

    // &__img {
    //     width: 100%;
    //     height: 100%;
    // }

    // &__text-box {
    //     font-size: 1.6rem;
    //     max-width: 80rem;
    // }

    // &__text  {

    // }
}