.footer {
	grid-column: full-start / full-end;
	height: 14rem;
	background-color: $primary-color;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	&__text {
		font-size: 1.7rem;
		font-weight: 500;
		font-style: italic;
		color: $dark-font;
		text-align: center;
		text-transform: capitalize;
	}

	&__img {
		width: 100%;
		height: 100%;
	}
}

.footer-icon {
	margin: 0 auto;
	fill: $primary-color;
}
