.header {
    background-image: url(../images/background-img.jpg);
    background-size: cover;
    background-position: center;
  
    grid-column: full-start / full-end;
    height: 100vh;
}

.text-box {
    max-width: 50rem;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.main-heading {
    margin-bottom: 4rem;
}

.one {
    transform: translateY(3rem);
    
}

.primary-heading {
    font-size: 5.4rem;
    color: $dark-font;
    font-weight: 600;
    display: block;
    text-transform: capitalize

}

.secondary-heading {
    font-size: 1.7rem;
    font-weight: 550;
    display: block;
    color: #555;
}

.btn {
    font-size: 1.6rem;
    color: $dark-font;
    background-color: $secondary-color;
    padding: 1rem 3rem;
    border-radius: 2rem;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s;

    &:hover {
        color: $secondary-color;
        background-color: $dark-font;
    }
}

.nav-bar {
    height: 6rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    
    &__items {
        width: 50rem;
        font-size: 1.6rem;
        text-transform: capitalize;
        list-style: none;
    
        display: flex;
        justify-content: space-between;
    }

    &__links a {
        text-decoration: none;
        color: $dark-font;

        &:hover {
            color: $secondary-color;
        }
    }
}

.logo-img-box {
    width: 4rem;
    height: 4rem;
}

.logo-img {
    width: 100%;
    height: 100%;
}

.social-media {
    width: 15rem;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__svg {
        width: 2.7rem;
        height: 2.7rem;
        fill: $dark-font;
        transition: all .2s;
    }
}


.dribbble:hover {fill: #ea4c89;}

.twitter:hover {fill: #00acee;}

.github:hover {fill: #211f1f;}

.linkedin:hover {fill: #0e76a8;}