.header {
	background-image: url(../images/background-img.jpg);
	background-size: cover;
	background-position: center;

	grid-column: full-start / full-end;
	height: 100vh;
	
	@include respond(tab-land) {
		background-color: $primary-color;
		background-image: none;
		text-align: center;
	}
}

.nav-bar {
	grid-column: col-start-1 / col-end;
	height: 6rem;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5rem;

	@include respond (tab-land) {
		align-items: flex-end;
		background-color: $primary-color;
        padding: 3rem 5rem;
	}

	&__items {
		width: 50rem;
		font-size: 1.7rem;
		text-transform: capitalize;
		list-style: none;

		display: flex;
		justify-content: space-between;
		align-items: center;

		@include respond (tab-land) {
			font-size: 3em;
			width: 100%;
			height: 100vh;
			background-color: $secondary-color;
            
			flex-direction: column;
            align-items: center;
			justify-content: space-evenly;
			
			clip-path: circle(10rem at 90% -19%);
			overflow: hidden;
			transition: all .8s;
			z-index: 2;
			opacity: 0;
			pointer-events: 0;

			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 5;
			z-index: 100;
			position: absolute;
			
		}
		

	}


	&__show {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 5;
		z-index: 100;
		position: absolute;
		clip-path: circle(183rem at 90% -15%);

	}

	&__links a {
		text-decoration: none;
		color: $dark-font;

		&:hover {
			color: $secondary-color;
		}
	}

	@include respond (tab-land) {
        align-items: flex-start;
        margin-top: 0;

    }
}

.text-box {
	max-width: 50rem;
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%, -50%);

	@include respond (tab-land) {
		left: 50%;
		top: 60%;
		line-height: 1.5;
	}

	@include respond (big-desktop) {
		max-width: 80rem;
	}

}

.main-heading {
	margin-bottom: 4rem;

	@include respond (tab-land) {
		margin-bottom: 2rem;
	}

	@include respond (phone) {
		margin-bottom: 7rem;
	}
	
}

.one {
	transform: translateY(3rem);

	@include respond (phone) {
		transform: translateY(-2rem);
	}
	
}

.primary-heading {
	font-family: 'Lora', serif;
	font-size: 5.4rem;
	color: $dark-font;
	font-weight: 600;
	display: block;
	text-transform: capitalize;

	@include respond (phone) {
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 1.2;
	}
	
	@include respond (big-desktop) {
		font-size: 8rem;
	}

	@include respond (tab-land) {
		font-size: 5rem;
	}
}

.secondary-heading {
	font-family: 'Poppins', serif;
	font-size: 1.8rem;
	font-weight: 400;
	display: block;
	color: #555;

	@include respond (tab-land) {
		display: none;
	}

	@include respond (big-desktop) {
		font-size: 2rem;
	}

}

.btn {
	font-size: 1.6rem;
	color: $secondary-color;
	background-color: $dark-font;
	padding: 1rem 3rem;
	border: none;
	outline: none;
	border-radius: 2rem;
	text-decoration: none;
	cursor: pointer;

	animation: wave 1s ease-out 0.7s;

	&:hover {
		color: $dark-font;
		background-color: $secondary-color;
	}
}

.logo-img-box {
	width: 4rem;
	height: 4rem;

	@include respond(tab-land) {
		width: 3rem;
		height: 3rem;	
	}
}

.logo-img {
	width: 100%;
	height: 100%;
}

.social-media {
	width: 18rem;
	margin-top: 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include respond (tab-land) {
		margin: 4rem auto;
	}

	&__svg {
		width: 2.7rem;
		height: 2.7rem;
		fill: $dark-font;
		transition: all 0.2s;
	}
}

.dribbble:hover {
	fill: #ea4c89;
}

.twitter:hover {
	fill: #00acee;
}

.github:hover {
	fill: #211f1f;
}

.linkedin:hover {
	fill: #0e76a8;
}

@keyframes wave {
	from {
		transform: none;
	}
	15% {
		transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
	}
	30% {
		transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
	}
	45% {
		transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
	}
	60% {
		transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
	}
	75% {
		transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
	}
	to {
		transform: none;
	}
}

.lines {
    padding-bottom: 1rem;
    margin-right: 3rem;
    display: none;
    z-index: 100;
    position: absolute;
   
     right: 5%;

    @include respond  (tab-land) {
        display: block;
        
    }
}

.line {
    width: 2rem;
    height: .3rem;
    background-color: $dark-font;
    margin-bottom: .3rem; 
}
