.projects {
	background-color: $primary-color;
	grid-column: full-start / full-end;
	padding: 5rem 0;
	text-align: center;

	&__section--container {
		display: grid;
		grid-template-columns:	5rem 1fr repeat(8, [col-start] minmax(min-content, 14rem))[col-end] 1fr 5rem;

		@include respond(tab-land) {
			grid-template-columns:	2rem 1fr repeat(8, [col-start] minmax(min-content, 14rem))[col-end] 1fr 2rem;
		}
	}

	&__container {
		grid-column: col-start 1 / col-end;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		grid-gap: 2rem;

		@include respond(tab-port) {
			grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
			grid-gap: 2rem;
		}

		& button {
			outline: none;
			border: none;
		}
	}

	&__content {
		height: 20rem;
		border: 1rem solid $white;
		cursor: pointer;

		box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1),
			0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
	}

	&__img {
		width: 100%;
		height: 100%;
	}
}

// modal popup

.modal {
	width: 75rem;
	border-radius: 0.5rem;
	background-color: $primary-color;
	box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1),
		0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	z-index: 7;
	transition: 200ms ease-in-out;

	&__close {
		font-size: 3rem;
		color: $dark-font;
		position: absolute;
		right: 1rem;
		top: 0.1rem;
		outline: none;
		border: none;
		cursor: pointer;
	}

	&__info {
		padding: 2rem;
	}

	&__heading {
		font-family: 'Lora', serif;
		font-size: 2.4rem;
		text-transform: uppercase;
		color: $dark-font;
		text-align: center;
		border-bottom: 0.1rem solid #fff;
		margin-bottom: 2rem;
	}

	&__paragraph {
		font-family: 'Poppins', serif;
		font-size: 1.7rem;
		color: #333;
		margin-bottom: 3rem;
	}

	&__projects {
		font-size: 1.7rem;
		color: $dark-font;
		text-transform: uppercase;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;

		&--tools {
			font-family: 'Lora', serif;
			font-weight: 550;
			width: 30rem;
			display: flex;
			justify-content: space-between;
		}

		&--links {
			width: 27rem;
			display: flex;
			justify-content: space-between;

			& a {
				text-decoration: none;
				color: $dark-font;
				padding: 0.1rem 2rem;
				background-color: $secondary-color;
				border-radius: 2rem;
				transition: all 0.2s;

				&:hover {
					background-color: $dark-font;
					color: $secondary-color;
				}
			}
		}
	}
}

.modal.active {
	transform: translate(-50%, -50%) scale(1);
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.97);

	pointer-events: none;
	opacity: 0;
	transition: 200ms ease-in-out;
}

#overlay.active {
	pointer-events: all;
	opacity: 1;
}
