.services {
	background-color: #fff;
	grid-column: col-start 1 / col-end;
	text-align: center;
	font-family: 'Poppins', serif;

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

		font-size: 1.7rem;
		text-align: left;

		grid-column-gap: 5rem;
		grid-row-gap: 5rem;

		@include respond (tab-land) {
			font-size: 1.8em;
		}
	}

	&__content {
		box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.4);
		padding: 2rem;
		border-radius: .2rem;
		//background-color: $primary-color;

		display: flex;
		justify-content: space-between;
	}

	&__no {
		margin-right: 2rem;
		font-size: 3rem;
		color: $secondary-color;
	}

	&__heading {
		font-family: 'Lora', serif;
		font-weight: 550;
		font-size: 2rem;
		margin-bottom: 1rem;
		text-transform: capitalize;
		color: $dark-font;
	}

	&__description {
		color: $light-font;
	}
}
