.skills {
	grid-column: col-start 2 / col-start 8;

	text-align: center;

	&__list {
		font-size: 2rem;
		color: $secondary-color;
		text-transform: uppercase;
		text-shadow: 0 .1rem .1rem rgba(0,0,0, .1);
		font-weight: 650;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
		grid-gap: 5rem;
	}
}
