.skills {
	grid-column: col-start 2 / col-start 8;

	text-align: center;

	&__list {
		font-family: 'Lora', serif;
		font-size: 2rem;
		color: $dark-font;
		text-transform: uppercase;
		font-weight: 550;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
		grid-gap: 5rem;

		@include respond (tab-land) {
			grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
			grid-gap: 2rem;
	
		}
	}
}
