*,
::before,
::after {
  padding: 0;
  margin: 0; }

html {
  box-sizing: inherit;
  font-size: 62.5%;
  font-family: sans-serif; }

body {
  font-family: sans-serif;
  font-weight: 350;
  box-sizing: border-box;
  background-color: #fff;
  color: #222;
  line-height: 1.7; }

#container {
  display: grid;
  grid-template-columns: [full-start] 5rem 1fr repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr 5rem [full-end]; }

.section-heading {
  font-size: 3rem;
  color: #3F3D56;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 3rem; }

.margin-bottom {
  margin-bottom: 5rem; }

.header {
  background-image: url(../images/background-img.jpg);
  background-size: cover;
  background-position: center;
  grid-column: full-start / full-end;
  height: 100vh; }

.text-box {
  max-width: 50rem;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%); }

.main-heading {
  margin-bottom: 4rem; }

.one {
  transform: translateY(3rem); }

.primary-heading {
  font-size: 5.4rem;
  color: #3F3D56;
  font-weight: 600;
  display: block;
  text-transform: capitalize; }

.secondary-heading {
  font-size: 1.7rem;
  font-weight: 550;
  display: block;
  color: #555; }

.btn {
  font-size: 1.6rem;
  color: #3F3D56;
  background-color: #f3be39;
  padding: 1rem 3rem;
  border-radius: 2rem;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s; }
  .btn:hover {
    color: #f3be39;
    background-color: #3F3D56; }

.nav-bar {
  height: 6rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem; }
  .nav-bar__items {
    width: 50rem;
    font-size: 1.6rem;
    text-transform: capitalize;
    list-style: none;
    display: flex;
    justify-content: space-between; }
  .nav-bar__links a {
    text-decoration: none;
    color: #3F3D56; }
    .nav-bar__links a:hover {
      color: #f3be39; }

.logo-img-box {
  width: 4rem;
  height: 4rem; }

.logo-img {
  width: 100%;
  height: 100%; }

.services {
  background-color: #fff;
  grid-column: col-start 1 / col-end;
  text-align: center; }
  .services__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    font-size: 1.6rem;
    text-align: left;
    grid-column-gap: 5rem;
    grid-row-gap: 5rem; }
  .services__content {
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1), 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: .2rem;
    display: flex;
    justify-content: space-between; }
  .services__no {
    margin-right: 2rem;
    font-size: 2rem;
    color: #f3be39; }
  .services__heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
    color: #3F3D56; }
  .services__description {
    color: #777; }

.about {
  grid-column: col-start 1 / col-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 10rem; }
  .about__img-box {
    max-width: 50rem;
    justify-self: center; }
  .about__description {
    color: #777;
    font-size: 1.6rem; }

.svg {
  width: 100%;
  height: 100%; }

.skills {
  grid-column: col-start 2 / col-start 8;
  text-align: center; }
  .skills__list {
    font-size: 2rem;
    color: #a7a1cf;
    text-transform: uppercase;
    font-weight: 650;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 5rem; }

.projects {
  background-color: #f3f4f5;
  grid-column: full-start / full-end;
  padding: 5rem 0;
  text-align: center; }
  .projects__section--container {
    display: grid;
    grid-template-columns: 5rem 1fr repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr 5rem; }
  .projects__container {
    grid-column: col-start 1 / col-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2rem; }
  .projects__content {
    height: 20rem;
    border: 1rem solid #fff;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1), 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2); }
  .projects__img {
    width: 100%;
    height: 100%; }

.contacts {
  grid-column: full-start / full-end;
  text-align: center; }
  .contacts__container {
    display: grid;
    grid-template-columns: 5rem 1fr repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr 5rem; }
  .contacts__content {
    grid-column: col-start 1 / col-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column-gap: 10rem;
    grid-row-gap: 5rem; }
  .contacts__svg {
    width: 40rem;
    height: 30rem; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .form-input {
    font-size: 1.6rem;
    font-family: sans-serif;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #e0e0e0;
    outline: none;
    border: none;
    border-radius: .2rem;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1), 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2); }
    .form-input::placeholder {
      text-transform: capitalize; }
  .form__textarea {
    font-size: 1.6rem;
    font-family: sans-serif;
    background-color: #e0e0e0;
    outline: none;
    border: none;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: .2rem;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1), 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2); }

.submit {
  font-size: 1.6rem;
  color: #3F3D56;
  outline: none;
  border: none;
  background-color: #f3be39;
  width: 10rem;
  margin: 0 auto;
  border-radius: 2rem;
  padding: 1rem 2rem; }
  .submit:hover {
    background-color: #3F3D56;
    color: #f3be39;
    cursor: pointer; }

.footer {
  grid-column: full-start / full-end;
  background-color: #f3f4f5;
  padding: 2rem 0; }
  .footer__text {
    font-size: 1.6rem;
    font-weight: 550;
    font-style: italic;
    color: #a7a1cf;
    text-align: center;
    text-transform: capitalize; }
  .footer__logo-box {
    width: 5rem;
    height: 5rem;
    margin: 2rem auto; }
  .footer__img {
    width: 100%;
    height: 100%; }
