.section-heading {
  font-family: 'Lora', serif;
  font-size: 3rem;
  color: #3F3D56;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 3rem; }

.margin-bottom {
  margin-bottom: 5rem; }

/*
0 - 600PX:  Phone
600 - 900px: Tablet portriat
900 - 1200px: Tablet landscape
[1200 - 1800] is whter the normal style apply
1800px or bigger: big desktop


1em = 16px
*/
*,
::before,
::after {
  padding: 0;
  margin: 0; }

html {
  box-sizing: inherit;
  font-size: 62.5%;
  font-family: sans-serif;
  scroll-behavior: smooth;
  /*
0 - 600PX:  Phone
600 - 900px: Tablet portriat
900 - 1200px: Tablet landscape
[1200 - 1800] is whter the normal style apply
1800px or bigger: big desktop


1em = 16px
*/ }

body {
  font-family: 'Lora', serif;
  font-family: 'Poppins', serif;
  font-weight: 350;
  word-spacing: .2rem;
  box-sizing: border-box;
  background-color: #fff;
  color: #222;
  line-height: 1.6; }

#container {
  display: grid;
  grid-template-columns: [full-start] 5rem 1fr repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr 5rem [full-end]; }
  @media screen and (max-width: 75rem) {
    #container {
      grid-template-columns: [full-start] 2rem 1fr repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr 2rem [full-end]; } }

.header {
  background-image: url(../images/background-img.jpg);
  background-size: cover;
  background-position: center;
  grid-column: full-start / full-end;
  height: 100vh; }
  @media screen and (max-width: 75rem) {
    .header {
      background-color: #f3f4f5;
      background-image: none;
      text-align: center; } }

.nav-bar {
  grid-column: col-start-1 / col-end;
  height: 6rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem; }
  @media screen and (max-width: 75rem) {
    .nav-bar {
      align-items: flex-end;
      background-color: #f3f4f5;
      padding: 3rem 5rem; } }
  .nav-bar__items {
    width: 50rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 75rem) {
      .nav-bar__items {
        font-size: 3em;
        width: 100%;
        height: 100vh;
        background-color: #f3be39;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        clip-path: circle(10rem at 90% -19%);
        overflow: hidden;
        transition: all .8s;
        z-index: 2;
        opacity: 0;
        pointer-events: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 5;
        z-index: 100;
        position: absolute; } }
  .nav-bar__show {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 5;
    z-index: 100;
    position: absolute;
    clip-path: circle(183rem at 90% -15%); }
  .nav-bar__links a {
    text-decoration: none;
    color: #3F3D56; }
    .nav-bar__links a:hover {
      color: #f3be39; }
  @media screen and (max-width: 75rem) {
    .nav-bar {
      align-items: flex-start;
      margin-top: 0; } }

.text-box {
  max-width: 50rem;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%); }
  @media screen and (max-width: 75rem) {
    .text-box {
      left: 50%;
      top: 60%;
      line-height: 1.5; } }
  @media screen and (min-width: 112.5em) {
    .text-box {
      max-width: 80rem; } }

.main-heading {
  margin-bottom: 4rem; }
  @media screen and (max-width: 75rem) {
    .main-heading {
      margin-bottom: 2rem; } }
  @media screen and (max-width: 37.5em) {
    .main-heading {
      margin-bottom: 7rem; } }

.one {
  transform: translateY(3rem); }
  @media screen and (max-width: 37.5em) {
    .one {
      transform: translateY(-2rem); } }

.primary-heading {
  font-family: 'Lora', serif;
  font-size: 5.4rem;
  color: #3F3D56;
  text-transform: capitalize; }
  @media screen and (max-width: 37.5em) {
    .primary-heading {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.2; } }
  @media screen and (min-width: 112.5em) {
    .primary-heading {
      font-size: 8rem; } }
  @media screen and (max-width: 75rem) {
    .primary-heading {
      font-size: 5rem; } }

.secondary-heading {
  font-family: 'Poppins', serif;
  font-size: 1.8rem;
  font-weight: 400;
  display: block;
  color: #555; }
  @media screen and (max-width: 75rem) {
    .secondary-heading {
      display: none; } }
  @media screen and (min-width: 112.5em) {
    .secondary-heading {
      font-size: 2rem; } }

.btn {
  font-size: 1.6rem;
  color: #f3be39;
  background-color: #3F3D56;
  padding: 1rem 3rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  text-decoration: none;
  cursor: pointer;
  animation: wave 1s ease-out 0.7s; }
  .btn:hover {
    color: #3F3D56;
    background-color: #f3be39; }

.logo-img-box {
  width: 4rem;
  height: 4rem; }
  @media screen and (max-width: 75rem) {
    .logo-img-box {
      width: 3rem;
      height: 3rem; } }

.logo-img {
  width: 100%;
  height: 100%; }

.social-media {
  width: 15rem;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media screen and (max-width: 75rem) {
    .social-media {
      margin: 4rem auto; } }
  .social-media__svg {
    width: 2.7rem;
    height: 2.7rem;
    color: #fff;
    transition: all 0.2s; }

.dribbble:hover {
  fill: #ea4c89; }

.twitter:hover {
  fill: #00acee; }

.github:hover {
  fill: #211f1f; }

.linkedin:hover {
  fill: #0e76a8; }

@keyframes wave {
  from {
    transform: none; }
  15% {
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg); }
  30% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg); }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg); }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg); }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg); }
  to {
    transform: none; } }

.lines {
  padding-bottom: 1rem;
  margin-right: 3rem;
  display: none;
  z-index: 100;
  position: absolute;
  right: 5%; }
  @media screen and (max-width: 75rem) {
    .lines {
      display: block; } }

.line {
  width: 2rem;
  height: .3rem;
  background-color: #3F3D56;
  margin-bottom: .3rem; }

.services {
  background-color: #fff;
  grid-column: col-start 1 / col-end;
  text-align: center;
  font-family: 'Poppins', serif; }
  .services__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    font-size: 1.7rem;
    text-align: left;
    grid-column-gap: 3rem;
    grid-row-gap: 5rem; }
    @media screen and (max-width: 75rem) {
      .services__container {
        font-size: 1.8em; } }
  .services__content {
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: .2rem;
    display: flex;
    justify-content: space-between; }
  .services__no {
    margin-right: 2rem;
    font-size: 3rem;
    color: #f3be39; }
  .services__heading {
    font-family: 'Lora', serif;
    font-weight: 550;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    color: #3F3D56; }
  .services__description {
    fontsize: 1.2rem;
    color: #444;
    -webkit-hyphens: auto; }

.about {
  grid-column: col-start 1 / col-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 10rem; }
  .about__img-box {
    max-width: 50rem;
    justify-self: center; }
  .about__description {
    font-family: 'Poppins', serif;
    -webkit-hyphens: auto;
    color: #444;
    font-size: 1.7rem; }
    @media screen and (max-width: 75rem) {
      .about__description {
        font-size: 1.8em; } }
  @media screen and (max-width: 75rem) {
    .about__text-box {
      display: flex;
      flex-direction: column;
      align-items: center; } }

@media screen and (max-width: 75rem) {
  .about-sec-heading {
    text-align: center; } }

.about-svg {
  width: 100%;
  height: 100%; }

#code {
  transform: translateX(20rem); }

.cv {
  font-family: 'Poppins', serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #f3be39;
  background-color: #3F3D56;
  padding: 1rem 3rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  text-decoration: none;
  cursor: pointer;
  margin-top: 3rem; }
  .cv:hover {
    background-color: #f3be39;
    color: #3F3D56; }
  @media screen and (max-width: 75rem) {
    .cv {
      font-size: 1.2em;
      margin: 5rem auto; } }

.skills {
  grid-column: col-start 2 / col-start 8;
  text-align: center; }
  .skills__list {
    font-family: 'Lora', serif;
    font-size: 2rem;
    color: #3F3D56;
    text-transform: uppercase;
    font-weight: 550;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 5rem; }
    @media screen and (max-width: 75rem) {
      .skills__list {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 2rem; } }

.projects {
  background-color: #f3f4f5;
  grid-column: full-start / full-end;
  padding: 5rem 0;
  text-align: center; }
  .projects__section--container {
    display: grid;
    grid-template-columns: 5rem 1fr repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr 5rem; }
    @media screen and (max-width: 75rem) {
      .projects__section--container {
        grid-template-columns: 2rem 1fr repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr 2rem; } }
  .projects__container {
    grid-column: col-start 1 / col-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2rem; }
    @media screen and (max-width: 56.25em) {
      .projects__container {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 2rem; } }
    .projects__container button {
      outline: none;
      border: none; }
  .projects__content {
    height: 20rem;
    border: 1rem solid #fff;
    cursor: pointer;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1), 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2); }
  .projects__img {
    width: 100%;
    height: 100%; }

.modal {
  max-width: 75rem;
  border-radius: 0.5rem;
  background-color: #f3f4f5;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1), 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 7;
  transition: 200ms ease-in-out; }
  .modal__close {
    font-size: 3rem;
    color: #3F3D56;
    position: absolute;
    right: 1rem;
    top: 0.1rem;
    outline: none;
    border: none;
    cursor: pointer; }
  .modal__info {
    padding: 2rem; }
  .modal__heading {
    font-family: 'Lora', serif;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #3F3D56;
    text-align: center;
    border-bottom: 0.1rem solid #fff;
    margin-bottom: 2rem; }
  .modal__paragraph {
    font-family: 'Poppins', serif;
    font-size: 1.7rem;
    color: #333;
    margin-bottom: 3rem; }
  .modal__projects {
    font-size: 1.7rem;
    color: #3F3D56;
    text-transform: lowercase;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; }
    .modal__projects--tools {
      font-family: 'Lora', serif;
      font-weight: 550;
      width: 30rem;
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 56.25em) {
        .modal__projects--tools {
          margin-bottom: 2rem; } }
    .modal__projects--links {
      width: 23rem;
      display: flex;
      justify-content: space-between; }
      .modal__projects--links a {
        text-decoration: none;
        color: #3F3D56;
        padding: 0.1rem 2rem;
        background-color: #f3be39;
        border-radius: 2rem;
        transition: all 0.2s; }
        .modal__projects--links a:hover {
          background-color: #3F3D56;
          color: #f3be39; }

.modal.active {
  transform: translate(-50%, -50%) scale(1); }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.97);
  pointer-events: none;
  opacity: 0;
  transition: 200ms ease-in-out; }

#overlay.active {
  pointer-events: all;
  opacity: 1; }

.contacts {
  grid-column: full-start / full-end;
  text-align: center; }
  .contacts__container {
    display: grid;
    grid-template-columns: 5rem 1fr repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr 5rem; }
    @media screen and (max-width: 75rem) {
      .contacts__container {
        grid-template-columns: 2rem 1fr repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr 2rem; } }
  .contacts__content {
    grid-column: col-start 1 / col-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 10rem;
    grid-row-gap: 5rem; }
    @media screen and (max-width: 75rem) {
      .contacts__content {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 5rem; } }
  .contacts__img {
    max-width: 40rem; }
  .contacts__svg {
    width: 100%;
    height: 100%; }

#person {
  animation: animate 10s ease-in-out infinite; }

#letter {
  animation: upNdown 20s ease-in infinite; }

@keyframes upNdown {
  from {
    transform: translateY(0); }
  50% {
    transform: translateY(-7rem); }
  to {
    transform: translateY(0); } }

@keyframes animate {
  from {
    transform: translateY(0); }
  50% {
    transform: translateX(-7rem);
    transform: rotate(5deg); }
  100% {
    transform: translateY(0); } }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .form-input {
    font-size: 1.7rem;
    font-family: sans-serif;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #e0e0e0;
    outline: none;
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1), 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2); }
    .form-input::placeholder {
      text-transform: capitalize;
      color: #555; }
  .form__textarea {
    font-size: 1.7rem;
    font-family: sans-serif;
    background-color: #e0e0e0;
    outline: none;
    border: none;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1), 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2); }
    .form__textarea::placeholder {
      color: #555; }

.submit {
  font-size: 1.7rem;
  color: #f3be39;
  background-color: #3F3D56;
  outline: none;
  border: none;
  width: 10rem;
  margin: 0 auto;
  border-radius: 2rem;
  padding: 1rem 2rem; }
  .submit:hover {
    color: #3F3D56;
    background-color: #f3be39;
    cursor: pointer; }

.footer {
  grid-column: full-start / full-end;
  height: 14rem;
  background-color: #f3f4f5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .footer__text {
    font-family: 'Poppins', serif;
    font-size: 1.4rem;
    font-weight: 500;
    font-style: italic;
    color: #3F3D56;
    text-align: center;
    text-transform: capitalize; }
  .footer__img {
    width: 100%;
    height: 100%; }

.footer-icon {
  margin: 0 auto;
  fill: #f3f4f5; }
